/* ogólne */

body {
  font-family: "Lato", sans-serif;
}


.main-block {
  background: rgb(210,208,238);
background: linear-gradient(90deg, rgba(210,208,238,1) 0%, rgba(255,223,223,1) 35%, rgba(51,150,170,1) 100%);
}

/* stylowanie headera */

.header {
  background: #fff;
  padding: 0 40px;
  border-bottom: 1px solid #000;
}

.nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  cursor: pointer;
}

.nav__title {
  font-size: 30px;
}

.nav__menu {
}

.menu-list {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-list__element {
  cursor: pointer;
}

@media (max-width: 800px){
  .menu-list {
    width: 150px;
  }
}



/* stylowanie sekcji dotyczącej dodawania nowego zadania */

.app-add-block {
  width: 800px;
  margin: 0 auto;
}
.app-add-block__title {
  text-align: center;
  font-size: 40px;
  padding: 40px 0;
  font-weight: 700;
}
.app-add-block__tools {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.tools__add-task {
}
.input-task {
  width: 400px;
  padding: 5px 0 5px 10px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #000;
}
.tools__add-category {
}
.select-css {
  width: 100px;
  height: 54px;
  padding-left: 15px;
  border-radius: 15px;
  border: 2px solid #000;
}
#add-element {
  width: 150px;
  height: 54px;
  border-radius: 15px;
  border: 2px solid #000;
  background-color: #fff;
  font-weight: bold;
}

@media (max-width: 800px){
  .app-add-block__tools {
    flex-direction: column;
    align-items: center;
  }
  .app-add-block {
    width: 100%;
  }
  .select-css {
    width: 300px;
    padding: 5px 0 5px 10px;
    margin-top: 10px;
  }
  #add-element {
    margin-top: 10px;
  }

}


/* stylowanie bloków z zadaniami */

.block-category {
  display: flex;
  width: 100%;
  align-content: stretch;
}
.block-category-task {
  width: 33.3%;
  // border: 2px solid #000;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
  background: rgb(238, 237, 250);
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  // background: rgba(236, 233, 233, 0.3);
}
.block-category-task::-webkit-scrollbar {
  width: 11px;
}
.block-category-task::-webkit-scrollbar-track {
  
  
}
.block-category-task::-webkit-scrollbar-thumb {
outline: 1px solid black;
border-radius: 13px;
border: 1px solid rgb(39, 43, 44);
// border-right: none;
background-color: #FFF;
margin-left: 2px;
background: linear-gradient(90deg, rgba(210,208,238,1) 0%, rgba(255,223,223,1) 35%);
}


.block-category-task__title {
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

.block-category-task__title:before {
  content : "";
  position: absolute;
  left    : 50%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid black;
  transform: translate(-50%);
}

// .category-house {
//   background-color: #64cccc;
// }
// .category-work {
//   background-color: #7dffff;
// }
// .category-shooping {
//   background-color: #c9ffff;
// }

.task-list {
}

.remove:hover {
  cursor: pointer;
}

li:hover {
  :hover {
    background: rgba(99, 86, 86, 0.3);
  }
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 15px 20px;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
  // background: rgba(226, 207, 207, 0.3);
  background: rgb(239, 238, 252);
  border-radius: 5px;
  margin-bottom: 20px
}

.fa-trash:before {
  padding-left: 20px;
  font-size: 20px;
}

.fa-trash:hover {
  color: red;
}

.input-task--error::-webkit-input-placeholder {
  color: red;
}


@media (max-width: 900px) {
  .block-category {
    flex-direction: column;
  }
  .block-category-task {
   width: auto;
  }

}